* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62, 5%;
}

body {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100dvh;

  background-color: #fdfff8;
}

header {
  width: 100%;
  height: 6rem;
  background-color: #4b3001;
  padding: 0.5rem 1rem;
  justify-content: center;
  gap: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  font-family: "Atkinson Hyperlegible Mono", serif;
}

header a {
  text-decoration: none;
  color: #f6ffd9;
  margin: auto 0;
}

#logo img {
  height: 4rem;
  border-radius: 50%;
  border: 1px solid #c07b04;
  cursor: pointer;
}

#home {
  color: #f6ffd9;
  height: 4rem;
  width: 1.5rem;
}

#links {
  font-size: 12px;
  width: 200px;

  display: flex;
  flex-direction: row;
  gap: 1rem;
}
#links a:hover {
  transition: 0.2s;
  font-size: 13px;
}


.text {
  display: flex;
  flex-direction: column;
  gap: 56px;
  background-color: #fdfff8;
}

.fade-in {
  opacity: 0;
  font-size: 2rem;
  animation: fadeInEffect 3s forwards;
}

.text h2 {
  font-size: 36px;
  text-align: left;
  margin: 60px 10px 0;
  text-shadow: 2px 2px 22px rgba(0, 0, 0, 0.5);
}

.text p {
  font-size: 24px;
  margin: 0 10px 0;
  text-shadow: 1px 1px 22px rgba(0, 0, 0, 0.5);
}

span {
  color: #4b3001;
  font-weight: bold;
}

.text h3 {
  font-size: 24px;
  margin: 0 10px 0;
  text-shadow: 1px 1px 22px rgba(0, 0, 0, 0.5);
}

.text button {
  width: 150px;
  margin: 0 10px;
  background-color: #006936;
  border-radius: 8px;
  height: 3rem;
  color: #fdfff8;
  border: none;

  display: flex;
  flex-direction: row;
  gap: 7px;

  padding: 20px;

  font-family: "Raleway", serif;
  font-weight: bold;
  font-size: 16px;

  align-items: center;
}

.title-before-after {
  display: flex;
  flex-direction: column;
  gap: 86px;
  color: #f6ffd9;
  background-color: #896018;
  text-align: left;
  text-shadow: 10px 10px 22px rgb(0, 0, 0, 1);
}

.before-after {
  height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 2px;
  border-radius: 8px;
  margin-bottom: 86px;

  padding: 0 10px;

  font-family: "Atkinson Hyperlegible Mono", serif;
}

.antes,
.depois {
  background-color: #fdfff8;
  border-radius: 6px 6px 0 0;
  color: #896018;
  text-align: center;
  height: 10%;
}

#before,
#after {
  width: 50%;
  height: 100%;
  border: 2px solid #fdfff8;
  border-radius: 8px;
}

.before-after img {
  width: 100%;
  height: 90%;
  border-radius: 0 0 8px 8px;
}

#wppicon {
  font-size: 16px;
}

.rosanaimg {
  width: 100%;
  margin-top: 90px;
  background: url(./assets/top.png) no-repeat center/cover #e6cda3;
  height: 300px;
}

.rosanaimg img {
  width: 100%;
  height: 100%;
}

footer {
  width: 100%;
  height: 6rem;
  margin-top: 2rem;

  background-color: #4b3001;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem;
  gap: 1rem;
}

.madeby p {
  color: #f6ffd9;

  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 12px;

  text-align: left;
  padding: 0 5px;

  border-left: 3px solid red;

  width: 2rem;
  cursor: pointer;
}

.madeby {
  text-align: left;
  width: 100%;
}

.contactBtn {
  display: flex;
  justify-content: space-between;
}

#instaBtn {
  background-color: #bb058d;
}

footer span {
  margin: auto 0;
  text-align: left;
  color: #f6ffd9;

  display: block;
  font-size: 12px;
}

/* Estilos do Popup */
.popup {
  display: none; /* Inicialmente o popup está oculto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */

  justify-content: center;
  align-items: center;
}

/* Conteúdo do Popup */
.popup-content {
  background-color: #fdfff8;

  border-radius: 8px;
  border-left: 3px solid red;

  width: 270px;
  height: 210px;
  display: flex;
  flex-direction: column;

  padding: 0 5px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  color: #4b3001;
}

.closeBtn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  transform: translateY(-110%) translateX(430%);
  position: relative;

  text-align: center;

  padding: 10px;
}

#closeBtn {
  color: #fdfff8;
  font-size: 20px;

  display: block;
  margin: none;
}

.popup-content p {
  text-align: center;
  font-size: 13px;
}

.popup-content h2 {
  text-align: center;
  font-size: 13px;
}

.popup-content a {
  color: #4b3001;
  text-decoration: none;
  font-size: 18px;

  display: flex;
  flex-direction: row;

  text-align: center;
  margin: 15px 0;
  gap: 35px;
}

#wpp {
  color: #079231;
  font-size: 22px;
}

#insta {
  color: #bb058d;
  font-size: 22px;
}

#license {
  border: none;
}

@media (min-width: 768px) {
  header {
    justify-content: space-between;
    padding: 0 10px;
  }
  #contatoHeader {
    color: #f6ffd9;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    
    
    gap: 50px;

    width: 400px;
    text-align: center;
  }
  .wppHead,
    .instHead {
    display: flex;
    flex-direction: row;
    gap: 3px;

    align-items: center;
  }
  #contatoHeader span {
    color: #f6ffd9;
    font-weight: 500;
  }
  #links {
    gap: 20px;
    width: 300px;
  }
  .rosanaimg {
    height: 600px;
  }
  .text {
    text-align: center;
    align-items: center;
  }
  .before-after {
    justify-content: center;
  }
  #before, 
  #after {
    width: 350px;
  }
  .title-before-after {
    text-align: left;
    align-items: center;
  }
}

@keyframes fadeInEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
